body {
    background-color: black;
    font-family: "Segoe Script";
 }
 h1 {
    color: white;
    padding-left: 10px;
 }
 h2 {
    text-align: left;
    text-rendering: auto;
    color: white;
    padding-left: 10px;
 }
 p {
    text-align: left;
    font-size: 1em;
 }