body {
    background-color: black;
    font-family: "Segoe Script";
 }

h1 {
    color: white;
    text-align: left;
    padding-left: 10px;
}

 h2 {
    text-align: left;
    color: white;
    padding-left: 10px;
 }
    p {
    text-align: left;
    padding-left: 10px;
 }